
/* Your CSS Code here. */
#first-name-input{
	width:20em;
}
#last-name-input{
	width:20em;
}
#email-input{
	width:20em;
}
#college-input{
	width:30em;
}
#roll-no-input{
	width:16em;
}
.head{
	position:
}